.title-section{
    text-align: center;
    margin: 1.25rem 0;
}

.title{
    font-size: 1.75rem;
    color: #262637;
    border-bottom: 0.125rem solid #2CDEB6;
    display: inline-block;
    text-transform: uppercase;
}